body {
    background-color: #FFF;
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
header {
    background-color: #E1701A;
    box-shadow: 0 6px 6px -6px #999999;
    padding: 20px;
    height: 10vh
}
#taskList {
    padding: 50px;
    color: #333;
    overflow: hidden;
}
.bottomBar {
    background-color: #f6f6f6;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
}
.inputTask {
    border-radius: 25px;
    border: 1px solid #f6f6f6;
    margin-right: 5px;
    padding: 15px 40px;
    font-size: 18px;
    width: 250px;
}
.submitButton {
    background-color: #F7A440;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    color: #f6f6f6;
    padding: 5px;
}